@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/* FUNDAMENTAL */

.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 180px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 35px;
    color: rgb(34, 34, 34);
    text-decoration: none;
    font-weight: 1000;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: rgb(34, 34, 34);
    font-weight: 450;
    text-decoration: none;
    margin-left: 35px;
}

.navbar a::before {
    content: '';
    position: absolute ;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background: rgb(34, 34, 34);
    transition: 0.4s;
}

.navbar a:hover::before {
    width: 100%;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    margin-left: 175px;
    margin-right: 175px;
}

.start {
    margin-top: 300px;
    display: flex;
    box-sizing: content-box;
    position: absolute;
}

.one {
    background-color: rgb(184, 184, 255);
}

.two {
    background-color: rgb(215, 215, 255);
}

.three {
    background-color: rgb(236, 236, 255);
}

.four {
    background-color: rgb(254, 254, 255);
}

/* SECTION 1 */

.content {
    margin-right: auto; /* Set right margin to auto to push it to the left */
    margin-left: 0; /* Set left margin to 0 to ensure it's aligned to the left */
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-size: 50px;
    color: #333;
    width: 50%;
    padding-top: 50px;
    letter-spacing: -2px;
    font-weight: 30000;
}

.content p {
    font-size: 12px;
    color: #555;
    width: 30%;
    margin-top: -25px; /* Adjust the margin-top to reduce the gap space */
}

.facts-box {
    border-radius: 5px;
    width: 35%;
    margin-top: 50px; /* Adjust the margin-top to reduce the gap space */
}

.facts-box h3 {
    font-size: 12px;
    color: #333;
}

.facts-box ul {
    list-style-type: none;
    padding: 0;
    margin-right: 10px;
}

.facts-box li {
    font-size: 10px;
    color: #666;
    margin-bottom: 5px;
}



        /* Define the CSS styles for the treemap chart */
        .node {
            font: 10px sans-serif;
        }
        .node rect {
            stroke: #fff;
            fill-opacity: 0.5;
        }
        .node text {
            pointer-events: none;
        }